<!-- templates/registration/password_reset_form.html -->



{% extends 'base.html' %}

{% block title %}Authentication{% endblock title %}

{% block mainbody %}
<!-- Page Header Start -->
    <div class="container-fluid page-header py-5" style="margin-bottom: 6rem;">
        <div class="container py-5">
            <h2><a class="text-white" href="/home">Home /</a></h2>
            <h2 class="text-white mb-3 animated slideInDown">Reset Password</h2>
           
        </div>
    </div>
    <!-- Page Header End -->


  

    {% if messages %}
    <br>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %} style="text-align: center; color: white;">
            <h2>{{message}}</h2>
            </li>
            {% endfor %}
        </ul>
      </strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    
    <div class="container" style="padding: 5px;">
      <div class="text-center">
     <h2>Reset Password</h2>
<p>We've will send you an email with instructions on how to reset your password.</p>
<p> Please enter your registered email only.</p>
<form method="post" action="{% url 'password_reset' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Reset Password</button>
    </form>
  </div>

</div>
{%endblock mainbody%}